<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="image_seal_container">
                <img id="image_seal" src="assets/images/Logo.png"/>
                <div id="updateAvailableTooltip"><%- lang('landing.updateAvailableTooltip') %></div>
            </div>
        </div>
        <div id="content">
        </div>
        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay"><%- lang('landing.usernameEditButton') %></button>
                    </div>
                </div>
                <div id="mediaContent">
                    <div id="internalMedia">
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="settingsMediaButton">
                                <svg id="settingsSVG" class="mediaSVG" viewBox="0 0 141.36 137.43">
                                    <path d="M70.70475616319865,83.36934004916053 a15.320781354859122,15.320781354859122 0 1 1 14.454501310561755,-15.296030496450625 A14.850515045097694,14.850515045097694 0 0 1 70.70475616319865,83.36934004916053 M123.25082856443602,55.425620905968366 h-12.375429204248078 A45.54157947163293,45.54157947163293 0 0 0 107.21227231573047,46.243052436416285 l8.613298726156664,-9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-3.465120177189462,-3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 l-8.613298726156664,9.108315894326587 A40.442902639482725,40.442902639482725 0 0 0 81.99114759747292,25.427580514871032 V12.532383284044531 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,-9.306322761594556 h-4.950171681699231 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,9.306322761594556 v12.895197230826497 a40.17064319698927,40.17064319698927 0 0 0 -9.331073620003052,4.0591407789933704 l-8.613298726156664,-9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 L25.58394128451018,23.967279868769744 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 L34.19724001066683,46.243052436416285 a45.07131316187151,45.07131316187151 0 0 0 -3.6631270444574313,9.083565035918088 h-12.375429204248078 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,9.306322761594556 v5.197680265784193 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,9.306322761594556 h11.979415469712139 a45.69008462208391,45.69008462208391 0 0 0 4.0591407789933704,10.642869115653347 l-8.613298726156664,9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 l3.465120177189462,3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l8.613298726156664,-9.108315894326587 a40.49240435629971,40.49240435629971 0 0 0 9.331073620003052,4.0591407789933704 v12.895197230826497 a9.083565035918088,9.083565035918088 0 0 0 8.811305593424633,9.306322761594556 h4.950171681699231 A9.083565035918088,9.083565035918088 0 0 0 81.99114759747292,123.68848839660077 V110.79329116577425 a40.78941465720167,40.78941465720167 0 0 0 9.331073620003052,-4.0591407789933704 l8.613298726156664,9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l3.465120177189462,-3.6631270444574313 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-8.613298726156664,-9.108315894326587 a45.665333763675406,45.665333763675406 0 0 0 4.034389920584874,-10.642869115653347 h12.004166328120636 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,-9.306322761594556 v-5.197680265784193 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,-9.306322761594556 " id="svg_3" class=""/>
                                </svg>
                                <div id="settingsTooltip"><%- lang('landing.settingsTooltip') %></div>
                            </button>
                        </div>
                    </div>
                    <div class="mediaDivider"></div>
                    <div id="externalMedia">
                        <div class="mediaContainer">
                            <a href="https://rustolia.eu/" class="mediaURL" id="linkURL">
                                <svg id="linkSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M75.37,65.51a3.85,3.85,0,0,0-1.73.42,8.22,8.22,0,0,1,.94,3.76A8.36,8.36,0,0,1,66.23,78H46.37a8.35,8.35,0,1,1,0-16.7h9.18a21.51,21.51,0,0,1,6.65-8.72H46.37a17.07,17.07,0,1,0,0,34.15H66.23A17,17,0,0,0,82.77,65.51Z"/>
                                        <path d="M66,73.88a3.85,3.85,0,0,0,1.73-.42,8.22,8.22,0,0,1-.94-3.76,8.36,8.36,0,0,1,8.35-8.35H95A8.35,8.35,0,1,1,95,78H85.8a21.51,21.51,0,0,1-6.65,8.72H95a17.07,17.07,0,0,0,0-34.15H75.13A17,17,0,0,0,58.59,73.88Z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://twitter.com/Dark_Fr22" class="mediaURL" id="xURL">
                                <svg id="xSVG" class="mediaSVG" viewBox="0 0 275 275">
                                    <g>
                                        <path d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://www.instagram.com/rustolia.eu" class="mediaURL" id="instagramURL">
                                <svg id="instagramSVG" class="mediaSVG" viewBox="0 0 5040 5040">
                                    <defs>
                                        <radialGradient id="instaFill" cx="30%" cy="107%" r="150%">
                                            <stop offset="0%" stop-color="#fdf497"/>
                                            <stop offset="5%" stop-color="#fdf497"/>
                                            <stop offset="45%" stop-color="#fd5949"/>
                                            <stop offset="60%" stop-color="#d6249f"/>
                                            <stop offset="90%" stop-color="#285AEB"/>
                                        </radialGradient>
                                    </defs>
                                    <g>
                                        <path d="M1390 5024 c-163 -9 -239 -19 -315 -38 -281 -70 -477 -177 -660 -361 -184 -184 -292 -380 -361 -660 -43 -171 -53 -456 -53 -1445 0 -989 10 -1274 53 -1445 69 -280 177 -476 361 -660 184 -184 380 -292 660 -361 171 -43 456 -53 1445 -53 989 0 1274 10 1445 53 280 69 476 177 660 361 184 184 292 380 361 660 43 171 53 456 53 1445 0 989 -10 1274 -53 1445 -69 280 -177 476 -361 660 -184 184 -380 292 -660 361 -174 44 -454 53 -1470 52 -599 0 -960 -5 -1105 -14z m2230 -473 c58 -6 141 -18 185 -27 397 -78 638 -318 719 -714 37 -183 41 -309 41 -1290 0 -981 -4 -1107 -41 -1290 -81 -395 -319 -633 -714 -714 -183 -37 -309 -41 -1290 -41 -981 0 -1107 4 -1290 41 -397 81 -636 322 -714 719 -33 166 -38 296 -43 1100 -5 796 3 1203 27 1380 67 489 338 758 830 825 47 7 162 15 255 20 250 12 1907 4 2035 -9z"/>
                                        <path d="M2355 3819 c-307 -42 -561 -172 -780 -400 -244 -253 -359 -543 -359 -899 0 -361 116 -648 367 -907 262 -269 563 -397 937 -397 374 0 675 128 937 397 251 259 367 546 367 907 0 361 -116 648 -367 907 -197 203 -422 326 -690 378 -101 20 -317 27 -412 14z m400 -509 c275 -88 470 -284 557 -560 20 -65 23 -95 23 -230 0 -135 -3 -165 -23 -230 -88 -278 -284 -474 -562 -562 -65 -20 -95 -23 -230 -23 -135 0 -165 3 -230 23 -278 88 -474 284 -562 562 -20 65 -23 95 -23 230 0 135 3 165 23 230 73 230 219 403 427 507 134 67 212 83 390 79 111 -3 155 -8 210 -26z"/>
                                        <path d="M3750 1473 c-29 -11 -66 -38 -106 -77 -70 -71 -94 -126 -94 -221 0 -95 24 -150 94 -221 72 -71 126 -94 225 -94 168 0 311 143 311 311 0 99 -23 154 -94 225 -43 42 -76 66 -110 77 -61 21 -166 21 -226 0z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://www.youtube.com/channel/UCGvL3_FwKmlflFraII_AMXg" class="mediaURL" id="youtubeURL">
                                <svg id="youtubeSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M84.8,69.52,65.88,79.76V59.27Zm23.65.59c0-5.14-.79-17.63-3.94-20.57S99,45.86,73.37,45.86s-28,.73-31.14,3.68S38.29,65,38.29,70.11s.79,17.63,3.94,20.57,5.52,3.68,31.14,3.68,28-.74,31.14-3.68,3.94-15.42,3.94-20.57"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://discord.gg/XWAN4rJ9FR" class="mediaURL" id="discordURL">
                                <svg id="discordSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://www.tiktok.com/@rustolia" class="mediaURL" id="tiktokURL">
                                <svg id="tiktokSVG" class="mediaSVG" viewBox="0 0 48 48">
                                    <g>
                                        <path d="M38.5028 16.4644C38.2024 16.3773 37.9148 16.2469 37.614 16.1587C36.9071 15.9519 36.2255 15.8163 35.5312 15.7542C33.9726 15.623 32.4086 15.9058 30.9875 16.5743C29.5663 17.2428 28.3443 18.3743 27.4773 19.777C26.6103 21.1797 26.1345 22.8045 26.1053 24.4683C26.0761 26.1321 26.4947 27.7724 27.314 29.2044V20.6472C27.314 20.5146 27.314 20.3823 27.314 20.2497C27.3258 19.3961 27.4893 18.5518 27.7967 17.7578C28.0086 17.2131 28.2868 16.6969 28.6245 16.2222C28.931 15.8043 29.2786 15.4155 29.6626 15.0612C29.9911 14.7552 30.3435 14.4777 30.7161 14.2315C30.9267 14.0988 31.1376 13.9659 31.3599 13.8447C31.4652 13.7794 31.5757 13.7221 31.6891 13.6646C32.0111 13.4969 32.3456 13.3487 32.69 13.22C33.7109 12.8473 34.8129 12.6926 35.9098 12.7685C36.4924 12.8099 37.0692 12.899 37.6376 13.0347C37.8254 13.0809 38.0164 13.161 38.2045 13.2071C38.3035 13.2371 38.4024 13.2674 38.5012 13.298V16.4644H38.5028Z" fill="white"/>
                                        <path d="M35.5078 15.7541C36.2021 15.8162 36.8837 15.9518 37.5906 16.1586C37.8914 16.2468 38.179 16.3772 38.4794 16.4643V13.3086C38.3807 13.2781 38.2817 13.2477 38.1827 13.2177C37.9998 13.1742 37.7799 13.1056 37.6174 13.0347C37.049 12.9006 36.4722 12.8098 35.8896 12.7685C34.7927 12.6926 33.6907 12.8473 32.6698 13.22C32.3254 13.3487 31.9909 13.4969 31.6689 13.6645C31.5555 13.7221 31.445 13.7794 31.3397 13.8447C31.1174 13.9642 30.9065 14.0988 30.6959 14.2314C30.3233 14.4776 29.9709 14.7551 29.6424 15.0611C29.2584 15.4155 28.9108 15.8042 28.6043 16.2222C28.2666 16.6968 27.9884 17.213 27.7765 17.7578C27.4691 18.5517 27.3056 19.396 27.2938 20.2497C27.2938 20.3823 27.2938 20.5146 27.2938 20.6472V29.2043C26.6525 28.1005 26.2873 26.8468 26.2372 25.5588C26.187 24.2708 26.4536 22.9902 27.0117 21.8366C27.5698 20.683 28.3998 19.6968 29.4207 18.9742C30.4417 18.2517 31.6176 17.8189 32.8384 17.7177C33.7291 17.6393 34.6274 17.7218 35.5078 17.9611V15.7541Z" fill="white"/>
                                        <path d="M21.6799 26.8886C20.7493 26.2275 19.6468 25.8822 18.5222 25.9019C16.9327 25.9019 15.4088 26.5382 14.274 27.673C13.1393 28.8078 12.5029 30.3316 12.5029 31.9211C12.5029 33.5106 13.1393 35.0345 14.274 36.1693C15.4088 37.304 16.9327 37.9404 18.5222 37.9404C19.6458 37.9597 20.7476 37.6151 21.6799 36.9552C22.6122 36.2952 23.3199 35.3583 23.7072 34.2732C24.0945 33.1882 24.1423 32.0077 23.8437 30.8944C23.5452 29.7811 22.9147 28.7897 22.0469 28.0569C22.8053 28.8717 23.2643 29.8883 23.35 30.9688C23.4356 32.0492 23.1428 33.1275 22.5153 34.0338C21.8878 34.9401 20.9651 35.6204 19.9007 35.9644C18.8362 36.3085 17.6903 36.2975 16.633 35.9329C15.5757 35.5683 14.6681 34.8707 14.0607 33.9521C13.4532 33.0336 13.1846 31.9484 13.2949 30.8676C13.4052 29.7868 13.8872 28.7772 14.6641 27.975C15.4409 27.1727 16.4767 26.626 17.6036 26.415C18.7305 26.204 19.8923 26.3406 20.9283 26.8026L21.6799 26.8886Z" fill="white"/>
                                        <path d="M35.5078 17.9612C34.6274 17.7219 33.7291 17.6394 32.8384 17.7178C31.6176 17.819 30.4417 18.2519 29.4207 18.9744C28.3998 19.6969 27.5698 20.6831 27.0117 21.8367C26.4536 22.9904 26.187 24.2709 26.2372 25.5589C26.2873 26.8469 26.6525 28.1007 27.2938 29.2044V32.4293C26.9925 32.0012 26.5938 31.5731 26.5938 31.5731C25.0282 29.6254 24.1936 27.2133 24.2113 24.7307C24.2291 22.2481 25.0983 19.8489 26.6901 17.9231C28.282 15.9973 30.5174 14.6893 32.9901 14.2326C35.4628 13.7759 38.0106 14.197 40.224 15.4219V22.6881C40.1264 22.6416 40.0295 22.5992 39.9336 22.5431C39.4712 22.2519 38.9733 22.0184 38.4539 21.8484C38.1357 21.7368 37.8107 21.6492 37.4805 21.5866C36.8202 21.4844 36.147 21.5129 35.5078 21.6658V17.9612Z" fill="white"/>
                                        <path d="M40.2241 22.688V15.4219C38.0107 14.197 35.4629 13.7759 32.9902 14.2326C30.5175 14.6893 28.2822 15.9972 26.6903 17.9231C25.0984 19.8489 24.2292 22.2481 24.2115 24.7307C24.1937 27.2133 25.0284 29.6254 26.5939 31.5731C26.5939 31.5731 26.9926 32.0012 27.2939 32.4293V33.4932C27.2939 33.8265 27.2939 34.1534 27.2737 34.4766C27.2483 35.4161 27.0306 36.3401 26.6348 37.1923C26.1732 38.1724 25.4496 38.9933 24.5456 39.5667C23.6416 40.1401 22.598 40.4423 21.5377 40.4379C20.7172 40.4284 19.9071 40.2591 19.1503 39.9391C19.0277 39.8868 18.9086 39.8278 18.7936 39.7621L18.7227 39.7171L21.1584 37.2814C21.8017 37.7072 22.5786 37.8887 23.352 37.7903C24.1254 37.6919 24.8396 37.3207 25.3617 36.7453C25.8838 36.1699 26.1754 35.4299 26.1855 34.6653C26.1957 33.9008 25.9238 33.1529 25.4172 32.5639C24.9105 31.9749 24.2058 31.5861 23.4357 31.4684C22.6656 31.3508 21.882 31.5122 21.234 31.9228C20.5859 32.3334 20.1093 32.9682 19.8887 33.7082C19.6682 34.4482 19.7194 35.2414 20.0317 35.9421C19.6764 35.7183 19.3539 35.4462 19.0725 35.1328C18.5371 34.5325 18.1366 33.8217 17.8956 33.0502C17.6546 32.2788 17.5786 31.4652 17.6724 30.6642C17.7663 29.8631 18.0275 29.0934 18.4368 28.4066C18.8461 27.7198 19.3936 27.1329 20.0453 26.684C20.0453 26.684 21.1765 25.9743 21.1799 25.9778L20.9282 26.8027C19.8922 26.3407 18.7305 26.2042 17.6036 26.4151C16.4767 26.6261 15.4409 27.1729 14.664 27.9751C13.8872 28.7774 13.4052 29.787 13.2949 30.8678C13.1846 31.9485 13.4532 33.0338 14.0607 33.9523C14.6682 34.8709 15.5758 35.5685 16.6331 35.9331C17.6903 36.2977 18.8363 36.3087 19.9007 35.9646C20.9652 35.6206 21.8879 34.9403 22.5154 34.034C23.1429 33.1277 23.4357 32.0494 23.35 30.969C23.2644 29.8885 22.8054 28.8719 22.047 28.0571C22.9176 28.7909 23.5495 29.785 23.8471 30.9014C24.1448 32.0177 24.0939 33.2013 23.7023 34.288C23.3107 35.3748 22.5977 36.3115 21.6602 36.9677C20.7228 37.624 19.6169 37.9607 18.4905 37.9302C16.9081 37.9084 15.3944 37.2588 14.2735 36.1151C13.1527 34.9713 12.5338 33.4441 12.5441 31.8615C12.5544 30.2789 13.1933 28.7597 14.3292 27.6307C15.4651 26.5016 16.9883 25.8721 18.5707 25.8721C19.695 25.8524 20.7972 26.1974 21.7279 26.8584L22.4778 27.3854L21.6781 26.888L21.1584 25.9776C21.1584 25.9776 21.1584 25.9776 21.155 25.9742L20.9265 25.8329C19.368 25.0217 17.6 24.7115 15.8602 24.9437C14.1205 25.1759 12.4948 25.9375 11.1999 27.1255C9.93729 28.3414 9.10137 29.9459 8.83096 31.6836C8.56056 33.4214 8.87313 35.1947 9.72191 36.7266C10.468 38.0581 11.5795 39.1417 12.9229 39.8505C14.2662 40.5594 15.7815 40.8637 17.2935 40.7247C18.8055 40.5857 20.246 40.0092 21.4393 39.0621C21.6195 38.9237 21.7931 38.7748 21.9596 38.6156L22.1142 38.4645C22.2603 38.3183 22.3962 38.1618 22.5202 38.0054C22.9945 37.4059 23.3693 36.7327 23.6298 36.0117C23.896 35.2802 24.054 34.5182 24.0999 33.7397C24.1449 33.2386 24.1247 32.7254 24.1112 32.2261C24.1112 32.1485 24.1112 32.0744 24.1079 31.997L27.2804 28.8244V31.5731C26.6874 30.7587 25.9501 30.055 25.0987 29.4999C24.2473 28.9447 23.2974 28.5488 22.3012 28.3322C21.3051 28.1156 20.2801 28.0825 19.2731 28.2345C18.2662 28.3865 17.2954 28.721 16.4198 29.2211C15.3882 29.8172 14.5191 30.6648 13.8888 31.6736C13.2584 32.6825 12.8875 33.8215 12.8099 35.0017C12.7323 36.1819 12.9502 37.3641 13.4455 38.4482C13.9407 39.5323 14.7 40.4882 15.6643 41.239C17.9034 42.8654 20.7558 43.2643 23.3103 42.3224C25.8649 41.3806 27.8493 39.2087 28.6881 36.5475C29.1011 35.1845 29.1968 33.7339 28.9672 32.3235C28.9168 31.9527 28.8394 31.5853 28.7348 31.2255L28.6541 30.8985C28.6071 30.7219 28.5531 30.5504 28.4889 30.3859C28.4517 30.3185 28.4209 30.2476 28.3854 30.1818L31.5644 27.0028C31.5644 27.0028 32.7703 27.9745 33.9762 28.2741C34.9311 28.5161 35.9348 28.4661 36.8633 28.1307C37.0729 28.1307 37.2842 28.016 37.4788 27.9504C37.7735 27.8524 38.0582 27.7242 38.3284 27.5678C38.5986 27.4115 38.8532 27.228 39.0881 27.02C39.202 26.9225 39.3109 26.8186 39.4143 26.7086C39.51 26.6041 39.6005 26.4926 39.6841 26.376C39.9302 26.0493 40.1242 25.6856 40.2585 25.299C40.3154 25.1343 40.3603 24.9658 40.3928 24.7944C40.4082 24.6946 40.4184 24.5939 40.4234 24.4927C40.4284 24.3916 40.4336 24.3192 40.4387 24.2352L40.4505 23.8968V23.0797C40.4505 22.9474 40.4505 22.8183 40.4336 22.6896C40.4317 22.6889 40.4296 22.6884 40.4275 22.6881H40.2241V22.688Z" fill="white"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://www.reddit.com/user/Dark_Fr22" class="mediaURL" id="redditURL">
                                <svg id="redditSVG" class="mediaSVG" viewBox="0 0 24 24">
                                    <g>
                                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm6.5-11.5c.3 0 .5-.3.5-.5 0-.4-.2-.8-.6-1-.3-.2-.7-.3-1.1-.2-.1-.3-.3-.6-.6-.8-.7-.4-1.7-.6-2.7-.4-.1 0-.1 0-.2-.1l-1.1-3.5c-.1-.2-.3-.3-.5-.2l-.6.2c-.2.1-.3.3-.2.5l1.1 3.5v.1c-1.1.2-2.1.5-2.9 1.1-.2.2-.5.4-.6.7-.4-.1-.8 0-1.1.2-.4.2-.6.6-.6 1 0 .3.2.5.5.5h.2c.2 0 .3-.1.4-.2.1-.2.1-.3.1-.5.4-.4 1-.5 1.5-.4-.1.1-.2.3-.3.4-1.3 1.3-1.7 3.1-.9 4.6.1.2.3.2.4.1.3-.2.4-.7.2-.9-.6-1.1-.2-2.4.9-3.4.3-.3.7-.5 1.1-.6 0 .8.3 1.7.9 2.3.6.6 1.4.9 2.2.9.8 0 1.6-.3 2.2-.9.6-.6.9-1.4.9-2.3.4.1.7.3 1.1.6 1 1 1.4 2.3.9 3.4-.1.3-.1.7.2.9.2.1.3.1.4-.1.9-1.5.4-3.3-.9-4.6-.1-.1-.2-.3-.3-.4.4-.2 1 0 1.4.4v.5c.1.1.2.2.4.2h.3zm-9.9 0c.5 0 .9.4.9.9s-.4.9-.9.9-.9-.4-.9-.9.4-.9.9-.9zm5.4 3.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7.2-.2.4-.3.7-.3.3 0 .5.1.7.3.2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3zm.9-3.6c-.5 0-.9-.4-.9-.9s.4-.9.9-.9.9.4.9.9-.4.9-.9.9z" fill="white"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                        <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                    </div>
                    <div class="bot_divider"></div>
                    <div id="mojangStatusWrapper">
                        <span class="bot_label">Rustolia Server Status</span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle">Rustolia Services Status</div>
                            <div id="mojangStatusEssentialContainer">
                                <!-- Essential Rustolia services are populated here. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">
                        <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText"><%- lang('landing.newsButton') %></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button"><%- lang('landing.launchButton') %></button>
                    <div class="bot_divider"></div>
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div id="newsContent" article="-1" style="display: none;">
            <div id="newsStatusContainer">
                <div id="newsStatusContent">
                    <div id="newsTitleContainer">
                        <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
                    </div>
                    <div id="newsMetaContainer">
                        <div id="newsArticleDateWrapper">
                            <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
                        </div>
                        <div id="newsArticleAuthorWrapper">
                            <span id="newsArticleAuthor">by Cicero</span>
                        </div>
                        <a href="#" id="newsArticleComments">0 Comments</a>
                    </div>
                </div>
                <div id="newsNavigationContainer">
                    <button id="newsNavigateLeft">
                        <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                    <span id="newsNavigationStatus"><%- lang('landing.newsNavigationStatus', { currentPage: 1, totalPages: 1 }) %></span>
                    <button id="newsNavigateRight">
                        <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="newsArticleContainer">
                <div id="newsArticleContent">
                    <div id="newsArticleContentScrollable">
                        <!-- Article Content -->
                    </div>
                </div>
            </div>
        </div>
        <div id="newsErrorContainer">
            <div id="newsErrorLoading">
                <span id="nELoadSpan" class="newsErrorContent"><%- lang('landing.newsErrorLoadSpan') %></span>
            </div>
            <div id="newsErrorFailed" style="display: none;">
                <span id="nEFailedSpan" class="newsErrorContent"><%- lang('landing.newsErrorFailedSpan') %></span>
                <button id="newsErrorRetry"><%- lang('landing.newsErrorRetryButton') %></button>
            </div>
            <div id="newsErrorNone" style="display: none;">
                <span id="nENoneSpan" class="newsErrorContent"><%- lang('landing.newsErrorNoneSpan') %></span>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>