<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <h2 id="loginSubheader"><%- lang('login.loginSubheader') %></h2>
            
            <div class="loginFieldContainer">
                <label for="loginUsername"><%- lang('login.loginEmailPlaceholder') %></label>
                <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
                <div class="inputWrapper">
                    <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
                </div>
            </div>
            
            <div class="loginFieldContainer">
                <label for="loginPassword"><%- lang('login.loginPasswordPlaceholder') %></label>
                <span class="loginErrorSpan" id="loginPasswordError"><%- lang('login.loginPasswordError') %></span>
                <div class="inputWrapper">
                    <input id="loginPassword" class="loginField" type="password" placeholder="<%- lang('login.loginPasswordPlaceholder') %>"/>
                </div>
            </div>
            
            <div class="loginFieldContainer" id="login2faContainer" style="display: none;">
                <label for="login2faCode" id="login2faTitle"><%- lang('login.login2faTitle') %></label>
                <span class="loginErrorSpan" id="login2faError"></span>
                <div class="inputWrapper">
                    <input id="login2faCode" class="loginField" type="text" placeholder="<%- lang('login.login2faPlaceholder') %>"/>
                </div>
            </div>
            
            <div id="loginOptions">
                <label id="checkmarkContainer">
                    <input id="loginRememberOption" type="checkbox" checked>
                    <span class="loginCheckmark"></span>
                    <span id="loginRememberText" class="loginSpanDim"><%- lang('login.loginRememberMeText') %></span>
                </label>
            </div>
            <div class="forgotPasswordContainer">
                <span class="loginSpanDim">
                    <a href="<%- lang('login.loginForgotPasswordLink') %>"><%- lang('login.loginForgotPasswordText') %></a>
                </span>
            </div>
            
            <button id="loginButton" disabled>
                <div id="loginButtonContent">
                    <%- lang('login.loginButtonText') %>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                </div>
            </button>
            
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                    <a href="<%- lang('login.loginNeedAccountLink') %>"><%- lang('login.loginNeedAccountText') %></a>
                </span>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>